@import url("bootstrap.min.css");

body {
  background: #e9e9e9;
}

#top-card {
  width: 975px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),
    -1px 0 0 rgba(0,0,0,0.03),
    1px 0 0 rgba(0,0,0,0.03),
    0 1px 0 rgba(0,0,0,0.12);
  margin: auto auto 10px auto;
}

#main {
  width: 975px;
  margin: auto;
}

#main-right {
  width: 318px;
  height: 700px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),
    -1px 0 0 rgba(0,0,0,0.03),
    1px 0 0 rgba(0,0,0,0.03),
    0 1px 0 rgba(0,0,0,0.12);
  float: right;
  margin-bottom: 10px;
}

#main-left {
  width: 646px;
  float: left;
}

.profile-img {
  width: 240px;
  height: 240px;
  float: left;
}

.profile-overview {
  padding: 25px 40px;
  float: left;
    width: 735px;
    height: 240px;
}

.profile-extra {
  height: 40px;
    width: 100%;
    background: #f4f4f4;
    clear: both;
}

.fullname {
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
}

.headline-container {
	margin: 5px 0px;
}

.headline {
	color: #666;
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
}

.demographics p {
	display: inline;
}

.demographics a {
	color: #66696a;
	font-size: 13px;
	font-weight: normal;
	line-height: 17px;
}

.demographics a:hover {
	color: #006fa6;
	text-decoration: none;
}

.overview {
	margin: 10px 0;
}

.overview th {
	font-size: 13px;
	line-height: 17px;
	color: #66696a;
	font-weight: normal;
	padding: 2px 20px 0 0;
}

.overview td {
	font-size: 13px;
	line-height: 17px;
	color: #333;
	font-weight: normal;
	padding: 2px 0 0 0;
}

.member-connections {
	float: right;
	text-align: right;
	font-size: 11px;
	color: #999;
}
.member-connections strong{
	font-weight: bold;
	display: block;
	color: #333;
	font-size: 18px;
	line-height: 14px;
}

.btn-follow {
	float: left;
	background-color: #287bbc;
	border: none;
	color: white;
	padding: 7px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0;
	font-weight: bold;
	border-color: #1b5480;
}

.btn-follow:hover {
	background-color: #1b5480;
}

.connect {
	float: left;
	font-size: 14px;
	line-height: 14px;
	color: #333;
	font-weight: normal;
	margin-left: 5px;
}

.connect p {
	margin: 0 0 4px 0;
}

.profile-extra {
}

.profile-extra a {
	color: #66696a;
	font-size: 13px;
	font-weight: normal;
	line-height: 17px;
}

.profile-extra a:hover {
	color: #006fa6;
	text-decoration: none;
}

.profile-link {
	height: 100%;
	padding: 8px 8px;
	float: left;
}
.btn-contact-info {
	float: right;
	border: none;
	font-size: 12px;
	background-color: #ccc;
	margin: 0;
	height: 100%;
	padding: 0 20px;
}

.btn-contact-info:hover {
	color: #0073b2;
}

.card {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),
    -1px 0 0 rgba(0,0,0,0.03),
    1px 0 0 rgba(0,0,0,0.03),
    0 1px 0 rgba(0,0,0,0.12);
  margin: auto auto 10px auto;
}

.card h2 {
  font-size: 15px;
  color: white;
  background: #333;
  display: inline-block;
  margin: 0;
  padding: 8px 12px;
}

.post {
  width: 100%;
  padding-bottom: 25px;
}

.influencer-post {
	display: block;
	background-color: #f4f4f4;
	padding: 18px;
}

.influencer-header {
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
	color: #434649;
	margin: 0;
}

.see-more-action, .see-more-action a {
	font-size: 13px;
	line-height: 17px;
	color: #66696a;
	font-weight: normal;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

.post-with-image {
	float: left;
	width: 203px;
	min-height: 135px;
	position: relative;
	padding: 0 5px;
}
.post-with-image img {
	width: 192px;
	height: 135px;
}

.last-post {
	margin-left: 12px;
}

.post-title a {
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: #000;
	text-decoration: none;
	margin: 0;
}

.post-title a:hover {
	color: #006fa6;
	text-decoration: none;
}

.publish-at {
	font-size: 12px;
	line-height: 14px;
	color: #66696a;
	margin: 3px 0 0 0;
}

.background {
  width: 100%;
}

.container {
	margin: 0px;
	padding: 20px;
	width: 100%;
}

.container h3 {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	color: #434649;
	float: left;
}

.container p {
	font-size: 13px;
	clear: both;
}

.header {
	vertical-align: middle;
}

.logo-company {
	float: right;
	width: auto;
	height: 50px;
}

.icon {
	font-size: 40px;
	float: left;
	margin-right: 10px;
}

.content {
	border-bottom: 1px solid #e8e8e8;
	clear: both;
}


.content li {
	margin-bottom: 20px;
	clear: both;
	vertical-align: middle;
}

.content h4 {
	padding: 0px;
	margin: 3px 0;
	font-weight: bold;
	display: inline;
}

.content h5 {
	padding: 0px;
	margin: 3px 0;
}

.content h4 a {
	color: black;
}

.content h5 a {
	color: #434649;
}

.content a:hover {
	color: #006fa6;
	text-decoration: none;
}

.summary-content {
	margin-bottom: 20px;
}

.technical {
	float: left;
	margin: 0 7px 0 0;
	padding: 0;
}

.time, .locate {
	color: #66696a;
	font-size: 13px;
}

.list-top-skills {
	margin-top: 10px;
}

.point {
	padding: 5px 7px;
	background: #1ba8e5;
	margin: 0;
	display: inline-block;
	float: left;
	min-width: 30px;
	text-align: center;
}

.skill-name {
	padding: 5px 7px;
	background: #f0f0f0;
	margin: 0;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 7px;
}


.top-skills .skill-name {
	float: left;
}

.hr-line {
	height: 30px;
	margin: 0;
	overflow: hidden;
	display: block;
}


.other-skills {
	margin-top: 50px;
	clear: both;
}

.top-skills dl {
	margin-bottom: 7px;
}

.skill {
	float: left;
}

.point a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.point a:hover {
	color: white;
	font-weight: bold;
}

.point:hover {
	background: #0073b2;
}

.skill-name a {
	color: #333;
	text-decoration: none;
}

.skill-name a:hover {
	color: #1ba8e5;
}

.edit-icon {
	width: 18px;
	height: 18px;
	margin-left: 5px;
}

.profile-overview .edit-icon {
	visibility: hidden;
}

tr:hover .edit-icon {
	visibility: visible;
}

.profile-overview a:focus {
	outline: none;
}

.edit-button {
	font-weight: bold;
	padding: 2px 10px;
	background: #F2F2F2;
	color: #666;
	font-size: 11px;
   	display: inline-block;
   	visibility: hidden;
}

.edit-button:hover {
	background: #00a0dc;
	color: #fff;
}

#summary-container .edit-button {
	float: right;
	margin-top: 7px;
}

#summary-container:hover .edit-button {
	visibility: visible;
}

#skills-container:hover .edit-button {
	visibility: visible;
}

li:hover .edit-button {
	visibility: visible;
}

.txt-skill {
	visibility: hidden;
	margin-top: 3px;
}

#skills-container:hover .txt-skill {
	visibility: visible;
}