<!DOCTYPE html>
<html ng-app="LinkedInApp">
<head>
	<title>Trung Nguyen Duc | LinkedIn</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="css/xeditable.css" rel="stylesheet">
</head>
<body ng-controller="LinkedInCtrl">
	<div id="top-card">
		<div class="profile">
			<img class="profile-img" src="{{profile.avatar}}" alt="profile-picture">
			<div class="profile-overview">
				<div class="basic-info">
					<div class="name-container">
						<span class="fullname" editable-text="profile.firstname">{{profile.firstname}}</span><span class="fullname" editable-text="profile.lastname"> {{profile.lastname}}</span>
					</div>
					<div class="headline-container">
						<span class="headline" editable-text="profile.headline">{{profile.headline}}</span>
					</div>
					<div class="demographics">
						<a href="#" editable-text="profile.city">{{profile.city}}</a><p> | </p><a href="#" editable-text="profile.country">{{profile.country}}</a>
					</div>
				</div>
				<table class="overview">
					<tbody>
						<tr class="overview-current">
							<th>Current</th>
							<td>{{experiences[0].companyname}}</td>
							<td><a href="#experience-container"><img class="edit-icon" src="img/edit-icon.png"></a></td>
						</tr>
						<tr class="overview-past">
							<th>Previous</th>
							<td>{{experiences[1].companyname}}, {{experiences[2].companyname}}</td>
							<td><a href="#experience-container"><img class="edit-icon" src="img/edit-icon.png"></a></td>
						</tr>
						<tr class="overview-education">
							<th>Education</th>
							<td>{{educations[0].schoolname}}</td>
							<td><a href="#education-container"><img class="edit-icon" src="img/edit-icon.png"></a></td>
						</tr>
					</tbody>
				</table>
				<div class="profile-aux">
					<div class="member-connections">
						<strong>{{profile.followers}}</strong>
						followers
					</div>
					<div class="profile-action">
						<button class="btn-follow">Follow</button>
						<button class="btn-follow">&#9660</button>
						<div class="connect">
							<p>Know {{profile.firstname}}?</p>
							<a href="#"><strong>Connect</strong></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="profile-extra">
			<div class="profile-link">
				<a href="index1.html" target="_blank">{{profile.profilelink}}</a>
			</div>
			<button class="btn-contact-info">Contact Info</button>
		</div>
	</div>
	<div id="main">
		<div id="main-right">
			
		</div>
		<div id="main-left">
			<div class="card post">
				<h2>Post</h2>
				<div class="influencer-post">
					<h4 class="influencer-header">Publish by {{profile.firstname}}</h4>
					<span class="see-more-action">
						<a href="#">See more</a> &#9658
					</span>
					<div class="post-list">
						<ul>
							<li ng-repeat="post in posts" class="post-with-image">
								<a href=""><img src="{{post.imgsrc}}"></a>
								<div class="post-title"><a href="#">{{post.title}}</a></div>
								<p class="publish-at">{{post.publishat}}</p>
							</li>
						</ul>
						<div style="clear: both"></div>
					</div>
				</div>
			</div>
			<div class="card background">
				<h2>Background</h2>
				<div id="summary-container" class="container">
					<div class="header">
						<span class="glyphicon glyphicon-envelope icon"></span>
						<h3>Summary</h3>
						<button class="btn btn-default edit-button" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">Edit</button>
					</div>
					<div style="clear: both;"></div>		
					<div class="content">
						<div class="summary-content">
							<span editable-textarea="summary.content" e-form="textBtnForm" e-rows="10" e-cols="75">
								{{ summary.content || 'empty' }}
							</span>
						</div>	
					</div>
				</div>
				<div id="experience-container" class="container">
					<div class="header">
						<span class="glyphicon glyphicon-envelope icon"></span>
						<h3>Experience</h3>
					</div>
					<div class="content">
						<ul>
							<li ng-repeat="experience in experiences">
								<form editable-form name="editableForm">
									<img editable-text="experience.logocompany" class="logo-company" src="{{experience.logocompany}}">
									<div>
										<h4 editable-text="experience.job"><a href="">{{experience.job}}</a></h4>
										<!-- button to show form -->
								      	<button type="button" class="btn btn-default edit-button" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
								        Edit
								      	</button>
									</div>
									<div>
										<h5 editable-text="experience.companyname"><a href="">{{experience.companyname}}</a></h5>
									</div>
									<div>
										<span editable-text="experience.time" class="time">{{experience.time}}</span> | <span editable-text="experience.locate" class="locate">{{experience.locate}}</span><br/>
									</div>
									<div>
										<span editable-textarea="experience.detail" e-rows="5" e-cols="75" class="detail">
											{{experience.detail}}
										</span>
									</div>
									<div class="buttons">
								      	<!-- buttons to submit / cancel form -->
								      	<span ng-show="editableForm.$visible">
								        	<button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
								          	Save
								        	</button>
								        	<button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
								          	Cancel
								        	</button>
								      	</span>
							    	</div>
								</form>
							</li>
							<form editable-form name="addExperienceForm" ng-submit="addExperience()">
								<button type="button" class="btn btn-default" ng-click="addExperienceForm.$show()" ng-show="!addExperienceForm.$visible">
								    Add
								</button>
								<div style="margin-bottom: 5px;">
									<input type="text" placeholder="Job's name/position..." ng-model="job" ng-show="addExperienceForm.$visible">
								</div>
								<div style="margin-bottom: 5px;">
									<input type="text" placeholder="Company's name..." ng-model="companyname" ng-show="addExperienceForm.$visible">
								</div>
								<div style="margin-bottom: 5px;">
									<input type="text" placeholder="Link company's logo..." ng-model="logocompany" ng-show="addExperienceForm.$visible">
								</div>
								<div style="margin-bottom: 5px;">
									<input type="text" placeholder="Time..." ng-model="time" ng-show="addExperienceForm.$visible"> 
									<input type="text" placeholder="Address..." ng-model="locate" ng-show="addExperienceForm.$visible">
								</div>
								<div style="margin-bottom: 5px;">
									<input type="text" placeholder="Detail..." ng-model="detail" ng-show="addExperienceForm.$visible">
								</div>
								<div class="buttons">
								    <!-- buttons to submit / cancel form -->
								    <span ng-show="addExperienceForm.$visible">
									    <button type="submit" class="btn btn-primary" ng-disabled="addExperienceForm.$waiting" ng-click="addExperienceForm.$cancel()">
									    Save
									    </button>
									    <button type="button" class="btn btn-default" ng-disabled="addExperienceForm.$waiting" ng-click="addExperienceForm.$cancel()">
									    Cancel
									    </button>
								    </span>
							    </div>
							</form>
						</ul>
					</div>				
				</div>
				<div id="project-container" class="container">
					<div class="header">
						<span class="glyphicon glyphicon-envelope icon"></span>
						<h3>Project</h3>
					</div>
					<div class="content">
						<ul>
							<li ng-repeat="project in projects">
								<form editable-form name="editableForm">
									<div>
										<h4 editable-text="project.projectname"><a href="">{{project.projectname}}</a></h4>
										<!-- button to show form -->
								      	<button type="button" class="btn btn-default edit-button" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
								        Edit
								      	</button>
									</div>
									<div>
										<dd>
											<dl class="technical" ng-repeat="item in project.knowledge">
												<h5 editable-text="item"><a href="">{{item}}</a></h5>
											</dl>
										</dd> <br/>
										<div style="clear: both">
									</div>
									<div>
										<span editable-text="project.time" class="time">{{project.time}}</span>
									</div>
									<div>
										<span editable-textarea="project.detail" e-rows="5" e-cols="75" class="detail">
											{{project.detail}}
										</span>
									</div>
									<div class="buttons">
								      	<!-- buttons to submit / cancel form -->
								      	<span ng-show="editableForm.$visible">
								        	<button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
								          	Save
								        	</button>
								        	<button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
								          	Cancel
								        	</button>
								      	</span>
							    	</div>
								</form>
							</li>
							<form editable-form name="addProjectForm" ng-submit="addProject()">
								<button type="button" class="btn btn-default" ng-click="addProjectForm.$show()" ng-show="!addProjectForm.$visible">
								    Add
								</button>
								<div style="margin-bottom: 5px;">
									<input type="text" placeholder="Your project's name..." ng-model="projectname" ng-show="addProjectForm.$visible">
								</div>
								<div style="margin-bottom: 5px;">
									<input type="text" placeholder="knowledge 1..." ng-model="knowledge1" ng-show="addProjectForm.$visible">
									<input type="text" placeholder="knowledge 2..." ng-model="knowledge2" ng-show="addProjectForm.$visible">
									<input type="text" placeholder="knowledge 3..." ng-model="knowledge3" ng-show="addProjectForm.$visible">
								</div>
								<div style="margin-bottom: 5px;">
									<input type="text" placeholder="Time..." ng-model="time" ng-show="addProjectForm.$visible">
								</div>
								<div style="margin-bottom: 5px;">
									<input type="text" placeholder="Detail..." ng-model="detail" ng-show="addProjectForm.$visible">
								</div>
								<div class="buttons">
								    <!-- buttons to submit / cancel form -->
								    <span ng-show="addProjectForm.$visible">
									    <button type="submit" class="btn btn-primary" ng-disabled="addProjectForm.$waiting" ng-click="addProjectForm.$cancel()">
									    Save
									    </button>
									    <button type="button" class="btn btn-default" ng-disabled="addProjectForm.$waiting" ng-click="addProjectForm.$cancel()">
									    Cancel
									    </button>
								    </span>
							    </div>
							</form>
						</ul>
					</div>						
				</div>
				<div id="skills-container" class="container">
					<div class="header">
						<span class="glyphicon glyphicon-envelope icon"></span>
						<h3>Skills</h3>
					</div>
					<div class="content">
						<div class="top-skills">
							<h5>Top skills</h5>
							<dd class="list-top-skills">
								<dl ng-repeat="skill in topskills">
									<div class="point"><a href="">{{skill.point}}</a></div>
									<div class="skill-name"><a href="">{{skill.name}}</a></div>
									<div class="hr-line">
										<hr>
									</div>
								</dl>
							</dd>
						</div>
						<div class="other-skills">
							<h5>{{profile.firstname}} also knows about...</h5>
							<dd class="list-top-skills">
								<dl ng-repeat="skill in otherskills">
									<div class="skill">
										<div class="point"><a href="">{{skill.point || '0'}}</a></div>
										<div class="skill-name"><a href="">{{skill.name || 'empty'}}</a></div>
									</div>
								</dl>
							</dd>
						</div>
						<div style="clear: both; margin-bottom: 20px">
							<form editable-form name="addSkillForm" ng-submit="addSkill()">
								<button type="button" class="btn btn-default" ng-click="addSkillForm.$show()" ng-show="!addSkillForm.$visible">
								    Add
								</button>
								<div style="margin-bottom: 5px;">
									<input class="txt-skill" placeholder="Skill name is..." type="text" ng-model="skillname" ng-show="addSkillForm.$visible">
								</div>
								<div class="buttons">
								    <!-- buttons to submit / cancel form -->
								    <span ng-show="addSkillForm.$visible">
									    <button type="submit" class="btn btn-primary" ng-disabled="addSkillForm.$waiting" ng-click="addSkillForm.$cancel()">
									    Save
									    </button>
									    <button type="button" class="btn btn-default" ng-disabled="addSkillForm.$waiting" ng-click="addSkillForm.$cancel()">
									    Cancel
									    </button>
								    </span>
							    </div>
							</form>
						</div>
					</div>				
				</div>
				<div id="education-container" class="container">
					<div class="header">
						<span class="glyphicon glyphicon-envelope icon"></span>
						<h3>Education</h3>
					</div>				
					<div class="content">
						<ul>
							<li ng-repeat="education in educations">
								<img class="logo-company" src="{{education.logoschool}}">
								<form editable-form name="editableForm">
									<div>
										<h4 editable-text="education.schoolname"><a href="">{{education.schoolname||'empty'}}</a></h4>
										<!-- button to show form -->
								      	<button type="button" class="btn btn-default edit-button" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
								        Edit
								      	</button>
									</div>
									<div>
										<h5 editable-text="education.major"><a href="">{{education.major || 'empty'}}</a></h5>
									</div>
									<div>
										<span editable-text="education.time" class="time">{{education.time ||'empty'}}</span>
									</div>
									<div class="buttons">
								      	<!-- buttons to submit / cancel form -->
								      	<span ng-show="editableForm.$visible">
								        	<button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
								          	Save
								        	</button>
								        	<button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
								          	Cancel
								        	</button>
								      	</span>
							    	</div>
								</form>
							</li>
							<form editable-form name="addEducationForm" ng-submit="addEducation()">
								<button type="button" class="btn btn-default" ng-click="addEducationForm.$show()" ng-show="!addEducationForm.$visible">
								    Add
								</button>
								<div style="margin-bottom: 5px">
									<input type="text" placeholder="School name..." ng-model="schoolname" ng-show="addEducationForm.$visible">
								</div>
								<div style="margin-bottom: 5px">
									<input type="text" placeholder="Link logo school..." ng-model="logoschool" ng-show="addEducationForm.$visible">
								</div>
								<div style="margin-bottom: 5px">
									<input type="text" placeholder="Your major is..." ng-model="major" ng-show="addEducationForm.$visible">
								</div>
								<div style="margin-bottom: 5px">
									<input type="text" placeholder="Time..." ng-model="time" ng-show="addEducationForm.$visible">
								</div>
								<div class="buttons">
								      	<!-- buttons to submit / cancel form -->
								      	<span ng-show="addEducationForm.$visible">
								        	<button type="submit" class="btn btn-primary" ng-disabled="addEducationForm.$waiting" ng-click="addEducationForm.$cancel()">
								          	Save
								        	</button>
								        	<button type="button" class="btn btn-default" ng-disabled="addEducationForm.$waiting" ng-click="addEducationForm.$cancel()">
								          	Cancel
								        	</button>
								      	</span>
							    	</div>
							</form>
						</ul>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<script src="js/angular.min.js" type="text/javascript"></script>
	<script src="js/controllers.js" type="text/javascript"></script>
	<script src="js/xeditable.js"></script>
</body>
</html>